.container {
  width : 80%;
  height : 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width :100%;
  height : 400px;
}

.MuiGrid-spacing-xs-2 {
  width: calc(100% + 16px);
  margin: 0px !important;
}
.image {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  vertical-align: middle;
  border-style: none;
}


.base-container {
  width: 100%;
  margin-left:10%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    font-size: 24px;
    padding : 20px;
    padding-top : 30px;
    font-family: "Open Sans", sans-serif;
    color: #3f51b5;
    font-weight: 900;
  }

  .content {
    display: flex;
    flex-direction: column;

    form {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-left:40%;

      .submit{
        margin-left:-180px !important;
      }
      .remember, .form-group {
        width : 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
      }
      
      .form-group {
        align-items: flex-start;
        
        label {
          font-size: 18px;
        }

        input {
          margin-top: 6px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          font-size: 15px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 10px;
          transition: all 250ms ease-in-out;
          &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }

      }
    }
  }
}

.content-scrollable {
  height:420px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width :100%;

  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:20%;

    .form-group, .form-group2, .remember {
      width : 100%;
      display: flex;
    } 

    .form-group, .remember {
      flex-direction: column;
    }
    .remember {
      align-items: left;
    }
    
    .form-group2 {
      flex-direction: row;
      align-items: center;

      input {
        min-width: 2.5em;
        height: 16px;
        padding: 0px 5px;
        border-radius: 4px;
        transition: all 250ms ease-in-out;
        margin-bottom: 25px;
      }

    }
    .form-group {
      align-items: flex-start;
      
      label {
        font-size: 18px;
      }
      input {
        margin-top: 6px;
        min-width: 20em;
        height: 37px;
        padding: 0px 10px;
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        background-color: #f3f3f3;
        border: 0;
        border-radius: 4px;
        margin-bottom: 10px;
        transition: all 250ms ease-in-out;
        &:hover {
          background-color: #ffffff;
          box-shadow: 0px 0px 14px 0.3px #0e81ce96;
        }

        &:focus {
          outline: none;
          box-shadow: 0px 0px 12px 0.8px #3474dbb2;
        }
      }
    }
    .submit{
      margin-left:-80px;
    }
  }
}


.submit {
  padding : 10px;
  .btn {
    font-size: 18px;
  }
  .links {
      padding-top: 40px;
      font-size: 14px;
  }    
}
