.container {
    height:100%;
    .img {
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }
    .home_msg {
        margin-top: 40% !important;
        margin-bottom: 60% !important;
        font-family: "Open Sans", sans-serif;
        font-size:22px;
    }
    .blu {
        color :#3f51b5;
        font-weight:900;
        }
    .sky {
        color :#5fc9bc; 
        font-weight:900;

    }
}
