.container {
	margin-bottom:50px;

}

.header {
	img {
		width : 320px;
	}

	.add {
		margin : 50px;
	}
}

.red {
	color: rgb(255, 0, 76);
}

.carousel-control-prev-icon {
	background-image: url(../../assets/before.png) !important;
	margin-left:-20px !important;
	left:0px !important;
	position: absolute !important;
}

.carousel-control-next-icon {
	background-image: url(../../assets/next.png) !important;
	margin-right:-20px !important;
	right:0px !important;
	position: absolute !important;
}

.card {
	background-color:rgba(218, 216, 216, 0.493) !important;
	//background-color: rgba(88, 198, 183, 0.445) !important;
	margin : 14px !important;
	border-radius: 4px !important;
	border:none !important;

	.btn-purple {
		&:hover {
		background-color:  white !important;	
		border-color: white !important;
		//color: #3f51b5 !important;}
		color: rgb(255, 0, 76) !important;}
	
	}
	&:hover {
		background-color: lighten(#3f51b570, 15% )!important;	
		border:none !important;

		.rounded-bottom {
			background-color: lighten(#303e8d8f, 15% )!important;	
			border:none !important;
		}
	  }

	.rounded-bottom {
		background-color:rgba(182, 182, 182, 0.493) !important;
	}

	.card-text {
		font-size : 18px !important;
		min-height:60px !important;
	}
}


